<div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10 col-12">
            <div class="card">
                <div class="card-header text-center card-header-own">ABOUT</div>
                <div class="card-title text-muted text-center card-title-own">This service was copied from pwx.io for learning purpose</div>
                <div class="card-body">
                    This service helps you to share your password by storing it in our database in encrypted form. After you click
                    generate link button, it service will generate unique URL with the help of that you can share your data.
                </div>

                <div class="card-footer text-muted">
                    <p>Check out developer's GitHub <a href="https://github.com/IKhumoyun">account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>