<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="result-card">
            <div class="card">
                <div class="card-header">Username</div>
                <div class="card-body">{{ userNameField }}</div>
            </div>
        </div>

        <div class="result-card">
            <div class="card">
                <div class="card-header">Password</div>
                <div class="card-body">{{ passwordField }}</div>
            </div>
        </div>

        <div class="result-card">
            <div class="card">
                <div class="card-header">Comment</div>
                <div class="card-body">{{ comments }}</div>
            </div>
        </div>

        <div class="result-card">
            <div class="card">
                <div class="card-header">This listing will be removed in</div>
                <div class="card-body">{{ validationField }}</div>
            </div>
        </div>
    </div>
</div>
